{% extends "base.html" %}
{% block content %}
<h2>Мои задачи</h2>
<a href="{% url 'task-create' %}">➕ Добавить задачу</a>
<br><br>
<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Выйти</button>
</form>

<ul>
{% for task in tasks %}
    <li>
        {{ task.title }}
        <a href="{% url 'task-edit' task.pk %}">✏️</a>
        <a href="{% url 'task-delete' task.pk %}">🗑️</a>
        {% if task.is_completed %} ✅ {% else %} ⏳ {% endif %}
    </li>
{% empty %}
    <li>Задач пока нет</li>
{% endfor %}
</ul>
{% endblock %}
